body {
  background: #f8f8f8;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.form {
  margin: 10px auto;
}

.input {
  width: 50px;
  margin: 0 30px 0 5px;
  background: #ffffff;
}

.canvas {
  margin: auto;
  background-color: #ffffff;
  outline: 1px solid #a8a8a8;
}
